.terraform/
uploads/
data/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.aws/
aws/
awscliv2.zip
certs/
certs/*
session-manager-plugin.deb
/open-source/lambda/package/
/lambda/lambda.zip
/lambda/main.zip
cert_vars.tf
.cursor
*:Zone.Identifier
